.header {
  border: 1px solid #ccc;
  margin: auto;
  width: 850px;
  height: 150px;
}
.smaller {
  /*display: inline-block;*/
  float: left;
}
.main{
  width: 700px;
  height: 250px;
  border: 1px solid red;
  position: relative;
}
.medium {
  height: 40px;
  width: 40px;
  border: 1px solid blue;
  position: absolute;
  top: 34px;
  bottom: 100px;
}